@import url("https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Marvel:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Tillana:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BenchNine&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Acme", sans-serif;
}

header {
  background-color: #47224a;
  color: #dcc5de;
  width: 100%;
  position: sticky;
  /* line-height: 5rem; */
  padding-top: 1rem;
  text-align: center;
  font-size: 2rem;
  font-family: "Acme", sans-serif;
}

#subheader {
  line-height: 2rem;
  font-size: 1.3rem;
  font-family: "Acme", sans-serif;
}

main {
  display: flex;
  width: 100%;
  height: fit-content;
  flex: 1;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: #c9c7c9;
}

#player-1,
#player-2 {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  background-color: grey;
  flex: 1;
  align-self: stretch;

  line-height: 2rem;
  text-align: center;
  font-family: "Acme", sans-serif;

  font-size: 1.5rem;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}

#player-1 {
  order: 1;
}

#player-2 {
  order: 2;
}

.hide-on-mobile {
  display: none;
}

#player-1 p,
#player-2 p {
  flex: 1;
}

#p1-name,
#p2-name {
  font-size: 2rem;

}

#player-1 {
  color: #e0ebd1;
}

#player-2 {
  color: #c5cddb;
}

.active-player-note {
  font-size: 1.8rem;
  align-self: center;
  font-family: "Acme", sans-serif;
  color: #ffffff;
  text-shadow: 0 1px 5px #f8f8f8;
}

/* Empty space to push score and player name a bit further apart */
#player-1 .space,
#player-2 .space {
  flex: 3;
}

#card-area {
  display: flex;
  order: 3;
  flex: 5;
  gap: 5px;
  flex-wrap: wrap;
  /* width: 50%; */
  min-height: auto;
  align-self: center stretch;
  justify-content: space-evenly;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  min-width: 7rem;
  flex-basis: 1;
  align-self: stretch;
  background-color: #47224a;
  margin: 10px 0;
  line-height: 6rem;
  font-size: 2rem;
  font-family: "Acme", sans-serif;
  transition: all 0.3s;
  border-radius: 15px;
  /* box-shadow: 0px 2px 2px #0f0219; */
  /* https://jsfiddle.net/NeqCC/ */
  box-shadow: 0px 15px 15px rgba(71, 34, 74, 0.6),
    0px 5px 5px rgba(71, 34, 74, 0.6);
  color: #dcc5de;
  /* text-shadow: 1px 4px 5px #46224a, 0 1px 5px #000000, 1px 4px 4px #46224a; */
}

.card:hover {
  background-color: #783c7e;
  cursor: pointer;
  font-size: 2.2rem;
  /* color: rgba(67, 57, 83, 0.8); */
  /* text-shadow: 1px 4px 6px #ddcdf9, 0 0 0 #000, 1px 4px 6px #ddcdf9; */
  transition: all 0.3s;
}

footer {
  background-color: #47224a;
  color: #dcc5de;
  width: 100%;
  text-align: center;
  line-height: 2rem;
  font-size: 1.3rem;
  font-family: "Acme", sans-serif;
}

#modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(140, 138, 141, 0.9);
}

#loading-screen,
#end-game-screen {
  position: fixed;
  display: none;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-align: center;
  justify-content: space-between;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 95vh;
  padding: 1rem;
  border-radius: 15px;
  border: 3px solid #3c173f;
  box-shadow: inset 0 0 5px 5px black;
  background-color: #47224a;
  font-family: "Acme", sans-serif;
  font-size: 1.3rem;
  color: #dcc5de;
}

#loading-screen {
  display: flex;
}

#input-error {
  font-size: 0.8rem;
  height: 3rem;
  width: 100%;
  margin-bottom: -3rem;
}

#player-name-inputs > p > input {
  margin: 0.5rem 0;
  padding-left: 0.5rem;
  background-color: rgb(220, 197, 222);
  box-shadow: inset 0 -2px 2px 2px;
  border-radius: 5px;
  border-style: none;
  line-height: 2.5rem;
  width: 13rem;
  outline: none;
  font-family: "Acme", sans-serif;
  font-size: 1rem;
}

#player-name-inputs > p > input:focus {
  border-style: none;
  outline: 2px solid rgba(220, 197, 222, 0.5);
}

#start-button,
.restart-btn {
  margin: 4rem 0 0 0;
  height: 3rem;
  width: 7rem;
  background-color: rgb(220, 197, 222);
  border-radius: 5px;
  border: none;

  font-family: "Acme", sans-serif;
  font-size: 1.5rem;
  color: #47224a;
  transition: all 0.3s;
}

#restart-buttons {
  display: flex;
  justify-content: space-evenly;
}

.restart-btn {
  margin: 2rem 0 0 0;
  font-size: 1.2rem;
  height: 4rem;
  width: 7rem;
}

#start-button {
  margin-top: 4.4rem;
}

#start-button:hover,
.restart-btn:hover {
  font-size: 1.7rem;
  /* outline: 2px solid rgba(220, 197, 222, 0.5); */
  background-color: rgb(247, 235, 247);
  transition: all 0.3s;
}
#start-button:focus,
.restart-btn:focus {
  outline: 2px solid rgba(220, 197, 222, 0.5);
}

#start-button:active,
.restart-btn:active {
  background-color: #47224a;
  color: rgb(247, 235, 247);
}

#question-card {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  overflow-y: auto;
  width: 100%;
  min-width: 200px;
  height: 95vh;
  background-color: transparent;
  color: rgb(220, 197, 222);
}

.qcard-text {
  background-color: #47224a;
  border: 1px solid #783c7e;
  /* line-height: 3rem; */
  border-radius: 10px;
  flex: 1;
  padding: 1rem 0.5rem 1rem 0.5rem;
  font-family: "Acme", sans-serif;
  font-size: 1.5rem;
}

.question {
  flex: 3;
  text-align: center;
  /* padding: 2rem 0 1rem 0; */
  background-color: #271328;
  border: 3px solid #2b0c2e;
}

.answer {
  margin: 0 7px 3px 7px;
  box-shadow: 0px 10px 10px rgba(71, 34, 74, 0.6),
    0px 3px 3px rgba(71, 34, 74, 0.6);
    transition: all 0.3s;
}

.answer:hover {
  background-color: #783c7e;
  color: #f2ebf2;
  cursor: pointer;
}

#close-card {
  flex: 1;
  padding: 0.5rem 0 0.5rem 0;
  border-radius: 10px;
  border: none;
  background-color: #271328;
  color: #271328;
  font-family: "Acme", sans-serif;
  font-size: 1.5rem;
}

/* #close-card:hover {
  background-color: #271328;
} */

/* #end-game-screen {
  position: fixed;
  display: none;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-align: center;
  justify-content: space-between;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 70%;
  min-width: 500px;
  height: 85vh;
  padding: 2rem;
  border-radius: 15px;
  border: 3px solid #3c173f;
  box-shadow: inset 0 0 5px 5px black;
  background-color: #47224a;
  font-family: "Acme", sans-serif;
  font-size: 1.5rem;
  color: #dcc5de;
} */

#winner {
  font-size: 1.8rem;
}

#end-game-screen table,
td,
th {
  border-collapse: collapse;
  border: 1px solid white;
}

#end-game-screen table {
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}

#error-page-div {
  font-size: 2rem;
  display: block;
  margin: auto;
}

#error-page-div ul {
  font-size: 1.5rem;
}

/* Media query for view on rotated phones and small tablets */
@media screen and (min-width: 769px) {
  #show-on-mobile {
    display: none;
  }

  .hide-on-mobile {
    display: initial;
  }

  #game-container {
    flex-direction: row;
  }

  #player-1,
  #player-2 {
    min-height: 60vh;
    line-height: 3.5rem;
    font-size: 2rem;
  }

  #p1-name,
  #p2-name {
    font-size: 2rem;
  }

  #player-1,
  #player-2,
  #card-area {
    order: initial;
  }


  #loading-screen,
  #end-game-screen {
    display: none;
    width: 70%;
    min-width: 500px;
    height: 85vh;
    padding: 2rem;
    font-size: 1.3rem;
  }

  #loading-screen {
    display: flex;
  }

  #input-error {
    font-size: 1rem;
  }

  #player-name-inputs {
    columns: 2 auto;
  }

  #player-name-inputs > p > input {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  #start-button {
    margin-top: 4rem;
  }

  #question-card {
    width: 47%;
    height: 90vh;
  }

  .qcard-text {
    font-size: 1.5rem;
  }
  
  .question {
    padding: 1.5rem;
  }

  #close-card {
    font-size: 1.5rem;
   }

  #winner {
    font-size: 2.5rem;
  }

  .restart-btn {
    font-size: 1.5rem;
    width: 10rem;
  }
}

@media screen and (min-width: 862px) {
  #p1-name,
  #p2-name {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1440px) {
  header {
    font-size: 3rem;
  }

  #subheader {
    font-size: 2rem;
  }

  #player-1,
  #player-2 {
    font-size: 3rem;
    line-height: 4rem;
  }
  #p1-name,
  #p2-name {
    font-size: 3rem;
  }

  .active-player-note {
    font-size: 2.5rem;
  }

  .card { 
    font-size: 3rem;
  }
  
  #question-card {
    width: 43%;
    height: 85vh;
  }

  .qcard-text {
    font-size: 2rem;
  }
  
  .question {
    padding: 2rem;
  }

  #close-card {
    font-size: 2rem;
   }

   .restart-btn {
    width: 14rem;
    font-size: 2rem;
  }

  .restart-btn:hover {
    font-size: 2.2rem;
  }

  }

@media screen and (min-width: 2559px) {
  header {
    font-size: 3rem;
  }

  #subheader {
    font-size: 2rem;
  }

  #player-1,
  #player-2 {
    font-size: 4rem;
    line-height: 5rem;
  }
  #p1-name,
  #p2-name {
    font-size: 3.5rem;
  }

  .active-player-note {
    font-size: 2.5rem;
  }

  .card { 
    font-size: 3.5rem;
  }
  
  #question-card {
    width: 33%;
    height: 80vh;
  }

  .qcard-text {
    font-size: 2.5rem;
  }
  
  .question {
    padding: 3rem;
  }

  #close-card {
    font-size: 2.5rem;
   }

  #loading-screen,
  #end-game-screen {
    width: 50%;
    height: 80vh;
    padding: 3rem;
    font-size: 2.2rem;
  }

  #player-name-inputs > p > input {
    font-size: 2rem;
    width: 20rem;
    height: 5rem;
  }

  #input-error {
    font-size: 2rem;
  }

  #start-button {
    height: 5rem;
    width: 15rem;
    font-size: 3rem;
    margin-top: 6rem;
  }

  #start-button:hover {
    font-size: 3.3rem;
  }

  .restart-btn {
    width: 17rem;
    font-size: 2.2rem;
  }


  footer {
    line-height: 2.8rem;
    font-size: 2.5rem;
  }
}
